{% extends 'base.html' %}
{% load staticfiles %}
{% block keywords %}
    <meta name="keywords"
          content="Книги по программированию, скачать, pdf программирование, скачать pdf, библиотека программиста, архив книг, скачать книги бесплатно, книги программиста бесплатно">
{% endblock %}
{% block description %}
    <meta name="description"
          content="CoderNet это самая большая и бесплатная библиотека для начинающего и опытного программиста">
{% endblock %}
<link rel="icon" type="image/png" href="{% static "image/favicon.ico" %}">
<title>
    {% block title %}
        CoderNet учебная литература для программистов
    {% endblock %} | CoderNet
</title>
{% block search %}
    <form class="form-inline my-2 my-lg-0" action="{% url 'search_url' %}">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><span class="fa fa-search"></span></button>
    </form>
{% endblock %}
<br/><br/><br/>
{% block content %}
    {% for book in page_object %}
        <ul class="list-unstyled">
            <li class="media">
                {% if book.img_file %}
                    <a href='{{ book.get_absolute_url }}'><img class="mr-3" src="{{ book.img_file.url }}" width="100px"
                                                               alt="{{ book.title }}"></a>
                {% endif %}
                <div class="media-body">
                    <h5 class="mt-0"><a href='{{ book.get_absolute_url }}'>
                        <p class='text-dark'>{{ book.title }}</p></a></h5>
                    <p class='text-dark'>{% autoescape off %}
                        {{ book.description|truncatewords:20 }}
                    {% endautoescape %}
                    </p>
                    <span class="badge badge-secondary"> {{ book.category.first }} </span>
                </div>
            </li>
        </ul>
        <hr>
    {% endfor %}
    {% if is_paginated %}
        <div class="offset-md-3 col-6 mt-5 mb-5">
            <nav aria-label="...">
                <ul class="pagination justify-content-center">
                    <li class="page-item {% if not prev_url %}disabled{% endif %}"><a href="{{ prev_url }}"
                                                                                      class="nav-link btn btn-outline-secondary">Назад</a>
                    </li>&nbsp;
                    {% for n in page_object.paginator.page_range %}
                        {% if page_object.number == n %}
                            <li class="page-item active"><a class="nav-link btn btn-outline-secondary active"
                                                            href="?page={{ n }}">{{ n }}<span
                                    class="sr-only">(current)</span></a></li>&nbsp;
                        {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}
                            <li class="page-item"><a class="nav-link btn btn-outline-secondary"
                                                     href="?page={{ n }}">{{ n }}</a></li>&nbsp;
                        {% endif %}
                    {% endfor %}
                    <li class="page-item {% if not next_url %}disabled{% endif %}"><a href="{{ next_url }}"
                                                                                      class="nav-link btn btn-outline-secondary">Вперёд</a>
                    </li>&nbsp;
                </ul>
            </nav>
        </div>
    {% endif %}
{% endblock %}
