{% extends 'booklist/booklist.html' %}
{% block title %}
    {{ category.title }}
{% endblock %}
{% block keywords %}
    <meta name="keywords" content="{{ category.keywords_cat }}">{% endblock %}
{% block description %}
    <meta name="description" content="{{ category.desc_for_find_cat }}">{% endblock %}
{% block content %}
    <h1><strong>{{ category.title }}</strong></h1></br>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="list-group">
                    <h4 class="card-title list-group-item disabled">Русский</h4>
                    <div class="list-group-item disabled">
                        {% for book in page_object1 %}
                            <ul class="list-unstyled">
                                <li class="media">
                                    {% if book.img_file %}<a href='{{ book.get_absolute_url }}'><img class="mr-3"
                                                                                                     src="{{ book.img_file.url }}"
                                                                                                     width="64px"
                                                                                                     alt="{{ book.title }}"></a>{% endif %}
                                    <div class="media-body">
                                        <h5 class="mt-0"><a href='{{ book.get_absolute_url }}'>
                                            <p class='text-dark'>{{ book.title }}</p></a></h5>
                                        <p class='text-dark'>{% autoescape off %}
                                            {{ book.description|truncatewords:10 }}
                                        {% endautoescape %}
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="list-group">
                    <h4 class="card-title list-group-item disabled">English</h4>
                    <div class="list-group-item disabled">
                        {% for book in page_object2 %}
                            <ul class="list-unstyled">
                                <div class="media">{% if book.img_file %}
                                    <a href='{{ book.get_absolute_url }}'><img class="mr-3"
                                                                               src="{{ book.img_file.url }}"
                                                                               width="64px" alt="{{ book.title }}"></a>
                                {% endif %}
                                    <div class="media-body">
                                        <h5 class="mt-0"><a href='{{ book.get_absolute_url }}'>
                                            <p class='text-dark'>{{ book.title }}</p></a></h5>
                                        <p class='text-dark'>{% autoescape off %}
                                            {{ book.description|truncatewords:10 }}
                                        {% endautoescape %}
                                        </p>
                                    </div>
                                </div>
                            </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if paginator1.count > paginator2.count %}
        {% if is_paginated1 %}
            <div class="offset-md-3 col-6 mt-5 mb-5">
                <nav aria-label="...">
                    <ul class="pagination justify-content-center">
                        <li class="page-item {% if not prev_url1 %}disabled{% endif %}">
                            <a href="{{ prev_url1 }}" class="nav-link btn btn-outline-secondary">Назад</a>
                        </li>&nbsp;
                        {% for n in page_object1.paginator.page_range %}
                            {% if page_object1.number == n %}
                                <li class="page-item active">
                                    <a class="nav-link btn btn-outline-secondary active"
                                       href="?page={{ n }}">{{ n }}<span class="sr-only">(current)</span></a>
                                </li>&nbsp;
                            {% elif n > page_object1.number|add:-3 and n < page_object1.number|add:3 %}
                                <li class="page-item">
                                    <a class="nav-link btn btn-outline-secondary" href="?page={{ n }}">{{ n }}</a>
                                </li>&nbsp;
                            {% endif %}
                        {% endfor %}
                        <li class="page-item {% if not next_url1 %}disabled{% endif %}">
                            <a href="{{ next_url1 }}" class="nav-link btn btn-outline-secondary">Вперёд</a>
                        </li>&nbsp;
                    </ul>
                </nav>
            </div>
        {% endif %}
    {% endif %}
    {% if paginator1.count < paginator2.count %}
        {% if is_paginated2 %}
            <div class="offset-md-3 col-6 mt-5 mb-5">
                <nav aria-label="...">
                    <ul class="pagination justify-content-center">
                        <li class="page-item {% if not prev_url12 %}disabled{% endif %}">
                            <a href="{{ prev_url2 }}" class="nav-link btn btn-outline-secondary">Назад</a>
                        </li>
                        {% for n in page_object2.paginator.page_range %}
                            {% if page_object2.number == n %}
                                <li class="page-item active">
                                    <a class="nav-link btn btn-outline-secondary" href="?page={{ n }}">{{ n }}<span
                                            class="sr-only">(current)</span></a>
                                </li>&nbsp;
                            {% elif n > page_object2.number|add:-3 and n < page_object2.number|add:3 %}
                                <li class="page-item">
                                    <a class="nav-link btn btn-outline-secondary" href="?page={{ n }}">{{ n }}</a>
                                </li>&nbsp;
                            {% endif %}
                        {% endfor %}
                        <li class="page-item {% if not next_url2 %}disabled{% endif %}">
                            <a href="{{ next_url2 }}" class="nav-link btn btn-outline-secondary">Вперёд</a>
                        </li>&nbsp;
                    </ul>
                </nav>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
