{% extends 'booklist/base.html' %}
    {% load staticfiles %}
<title>
    {% block title %}
        Поиск
    {% endblock %} | CoderNet
</title>
    {% block search %}
<form class="form-inline my-2 my-lg-0" action="{% url 'search_courses_url' %}">
<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
<button class="btn btn-outline-light my-2 my-sm-0" type="submit"><span class="fa fa-search"></span></button>
</form>
    {% endblock %}
    {% block page %} 
<main role="main">
<div class="container">
<br/>    
<blockquote class="blockquote text-center">    
<h2>Поиск в разделе статьи</h2>
</blockquote>
{% for course in courses %}
<div class="media">
        {% if course.img_file %}
<a href='{{ course.get_absolute_url }}'><img class="mr-3" src="{{ course.img_file.url }}" width="60px" alt="{{ course.title }}"></a>
 {% endif %}
  <div class="media-body">
    <h5 class="mt-0"><a href='{{ course.get_absolute_url }}'><p class='text-dark'>{{ course.title }}</p></a></h5>
    <a href='{{ course.get_absolute_url }}'><p class='text-dark'>{{ course.description|truncatewords:20 }}</p></a>
  </div>
</div><hr>
                {% endfor %}

    </div>
</main>
    {% endblock %} 