{% extends 'booklist/base.html' %}
    {% load staticfiles %}   
    {% block keywords %}
<meta name="keywords" content="Статьи по программированию, читать, учить программирование, школа программиста, архив статей, как стать прогрммистом, записки программиста">
    {% endblock %}
    {% block description %}
<meta name="description" content="CoderNet это самый большой сборник статей для начинающего и опытного программиста">
    {% endblock %}
    {% block title %}
Статьи
    {% endblock %}
    {% block search %}
<form class="form-inline my-2 my-lg-0" action="{% url 'search_articles_url' %}">
<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
<button class="btn btn-outline-light my-2 my-sm-0" type="submit"><span class="fa fa-search"></span></button>
</form>
    {% endblock %}     
    {% block content %}
<div class="card-group">
<div class="card-columns">
    {% for article in articles %}
<div class="card border-secondary">
<a href="{{ article.get_absolute_url }}">
<div class="card-header">
<h5><p class='text-dark'>{{ article.title }}</p></h5>
</div>
</a>
    {% if article.img_file %}
<a href="{{ article.get_absolute_url }}"><img class="card-img-top" src="{{ article.img_file.url }}" alt="{{ article.title }}"></a>
{% endif %}
<div class="card-body">
<p class="card-text">{{ article.body|truncatewords:10 }}</p>
<p class="card-text">
<small class="text-muted">{{ article.created }}</small>
&nbsp;&nbsp;<span class="badge badge-secondary"> {{ article.category.first }} </span></p>
</div>
<div class="card-footer">
<a href="{{ article.get_absolute_url }}" class="btn btn-outline-secondary">Перейти</a>
</div>
</div></br>
    {% endfor %}
</div>
</div>
    {% if is_paginated %}
<div class="offset-md-3 col-6 mt-5 mb-5">
<nav aria-label="...">
<ul class="pagination justify-content-center">
<li class="page-item {% if not prev_url %}disabled{% endif %}">
<a href="{{ prev_url }}" class="nav-link btn btn-outline-secondary">Назад</a>
</li>&nbsp;
    {% for n in page_object.paginator.page_range %}
    {% if page_object.number == n %}
<li class="page-item active">
<a class="nav-link btn btn-outline-secondary active" href="?page={{ n }}">{{ n }}<span class="sr-only">(current)</span></a>
</li>&nbsp;
    {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}
<li class="page-item">
<a class="nav-link btn btn-outline-secondary" href="?page={{ n }}">{{ n }}</a>
</li>&nbsp;
    {% endif %}
    {% endfor %}
<li class="page-item {% if not next_url %}disabled{% endif %}">
<a href="{{ next_url }}" class="nav-link btn btn-outline-secondary">Вперёд</a>
</li>&nbsp;
</ul>
</nav>
</div>
    {% endif %}
    {% endblock %}

