<!doctype html>
{% block lang %}<html lang="ru">{% endblock %}
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="icon" type="image/png" href="{% static "image/favicon.ico" %}">
    <link rel="home" type="application/rss+xml" href="{% url 'rss_url' %}"/>
    {% block keywords %}
        <meta name="keywords"
              content="Книги по программированию, скачать, pdf программирование, скачать pdf, библиотека программиста, архив книг, скачать книги бесплатно, книги программиста бесплатно, видеокурсы, уроки по программированию, статьи для программиста, помощь программисту">
    {% endblock %}
    {% block description %}
        <meta name="description"
              content="CoderNet это самая большая и бесплатная библиотека о программировании для начинающего и опытного программиста">
    {% endblock %}
    <title>
        {% block title %}
            CoderNet Портал для помощи программистам
        {% endblock %} | CoderNet
    </title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/"><h2>&nbsp;&nbsp;&nbsp;&nbsp;CoderNet&nbsp;&nbsp;&nbsp;&nbsp;</h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-chevron-circle-down"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto"><li class="nav-item active">
                    <a class="nav-link" href="{% url 'book_list_url' %}"><h5>&nbsp;&nbsp;Книги&nbsp;&nbsp;</h5>
                    </a></li>
                <li class="nav-item active"><a class="nav-link" href="{% url 'category_video_list_url' %}"><h5>&nbsp;&nbsp;Видео&nbsp;&nbsp;</h5>
                </a></li>
                <li class="nav-item active"><a class="nav-link" href="{% url 'articles_list_url' %}"><h5>&nbsp;&nbsp;Статьи&nbsp;&nbsp;</h5>
                </a></li>
</ul>
<ul class="navbar-nav mr-auto"></ul>
<ul class="navbar-nav my-2 my-lg-0">
     
      <li class="nav-item active dropdown">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
{% if not request.user.is_authenticated %}
          <a class="dropdown-item" href="{% url 'register_url' %}">Регистрация</a>
          <a class="dropdown-item" href="{% url 'login_url' %}">Войти</a>
{% endif %}
{% if request.user.is_authenticated %}
          <a class="dropdown-item" href="{% url 'account_url' %}">Личный кабинет</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'logout_url' %}">Выйти</a>
{% endif %}
        </div>
      </li>
</ul>&nbsp;&nbsp;
            {% block search %}     
                <form class="form-inline my-2 my-lg-0" action="{% url 'search_url' %}">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                           name="search">
                    <button class="btn btn-outline-light my-2 my-sm-0 " type="submit"><span class="fa fa-search"></span>
                    </button>
                </form>
            {% endblock %}
        </div>
    </nav>
</header>
<br/><br/><br/>
{% block page %}
    <div class="container-fluid">
    <div class="row">
        {% block panel %}
            <div class="col-sm-3">
                <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10"
                            aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
                        <div class="list-group col-sm-12">
                            <br/>
                            {% for category in categories %}
                                <a href="{{ category.get_absolute_url }}"
                                   class="list-group-item disabled">{{ category.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </nav>
            </div>
        {% endblock %}
        <div class="col-sm"><br/>
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
<br/>
<footer class="footer">
    <div class="container">
        <hr>
        <blockquote class="blockquote"><p>&copy; {% now "Y" %} The CoderNet Team</p></blockquote>
    </div>
</footer>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter46559994 = new Ya.Metrika2({
                    id: 46559994,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true,
                    webvisor: true
                });
            } catch (e) {
            }
        });
        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () {
                n.parentNode.insertBefore(s, n);
            };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks2");
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/46559994" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
</body>
</html>
